@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
}

.elementsLevel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 3%;
    margin-bottom: 30%;
    gap: 15px 0px;
}

.imgLevel {
    width: 70%;
}

.textLevel {
    margin: auto;
    display: grid;
    gap: 15px;
}

.titleLevel {
    font-size: large;
    color: #5000E0;
    font-family: 'Press Start 2P', sans-serif;
}

.descriptionLevel {
    text-align: justify;
    font-size: large;
}


