.home-container{
  display: flex;
  padding: 0px 140px 100px 140px;
  gap: 100px;
  flex-direction: column;
  color: #363524;
  text-align: center;
  background-color: #fff;
}
 
  .icon-saiba{
    width: 150px;
    height: auto;
    margin-top: 20px;
  }

  h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #5000E0;
    font-family: 'Press Start 2P', sans-serif;
  }

  p{
    font-size: 18px;
    margin: 0 auto;
    max-width: 600px;
  }
  