.about-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5%;
    
}

.about-container h2{
    color: var(--titulo1);
    margin-bottom: 10px;
    font-size: 16px;
}

.description-about{
    color: var(--texto1);
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
}


@media screen and (min-width: 768px){
    .about-container h2 {
        font-size: 24px;
    }

    .description-about {
        font-size: 18px;
    }

}

@media screen and (min-width: 1024px) {
    .about-container h2 {
        font-size: 28px;
    }

    .description-about {
        font-size: 18px;

    }
    
    .description-about {
        font-size: 20px;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10%;
    }

}



