.contact-images {
  margin-top: 50px;  
  display: flex;
  justify-content: center;
}

.contact-image-container {
  max-width: 400px;
  align-content: center;
}

.contact-image {
  width: 100%;
  height: auto;
  align-content: center;
}
