@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.content {
    width: 70%;
    display: grid;
    margin: auto;
}

.contentTitle {
    font-family: 'Press Start 2P', sans-serif;
}

.contentSubtitle {
    font-size: medium;
}