@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap');


*{
  padding: 0;
  margin: 0;
}

:root{
  --cor-de-fundo: #FFFFFF;
  --cor-de-fundo-rodape: #B6AE1E; 
  --titulo1: #5000E0;
  --titulo2: #B6AE1E;
  --titulo3: #8B872E;
  --texto1: #363524;
  --texto2: #000000;
  --texto-botao1: #4B317A;
  --texto-botao2: #363524;


  --fonte-primaria: "Press Start 2P", system-ui;
  --fonte-secundaria: "Inter", sans-serif;
}


body{
  font-family: var(--fonte-primaria);
  color: var(--titulo1);
}


p{
  font-family: var(--fonte-secundaria);
}